@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */

:root {
  --blinker: "Blinker", sans-serif;
  --main_bg: #fff;
  --primary_bg: #66717f;
  --secondary_bg: #28353e;
  --input_color: #f5f0f0d6;
  --hover_color: #e4e6eb;
  --line_color: #f5f0f5b6;
  --page_color: #f7f7fb;
  --single_color: rgba(88, 145, 219, 0.973);
  --blur: rgba(233, 235, 238, 0.8);
  --text_color: #333;
  --primary_color: #1fa0f8;
  --title_color: #66717f;
  --black_color: #29313d;
  --white_color: #fff;
  --white: #ffffff;
  --green: #21d997;
  --red: #da003e;
  --blue: #5093e2;
  --yellow: #d9a94a;
  --purple-100: #f3e8ff;
  --pink-100: #f697c9;
  --cyan-100: #cffafe;
  --transparent: transparent;
}

/* font faces */

/* @font-face {
  font-family: "Blinker Regular";
  src: url(./assets/fonts/Blinker-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Blinker Black";
  src: url(./assets/fonts/Blinker-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Blinker Bold";
  src: url(./assets/fonts/Blinker-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Blinker Light";
  src: url(./assets/fonts/Blinker-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Blinker Medium";
  src: url(./assets/fonts/Blinker-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Blinker SemiBold";
  src: url(./assets/fonts/Blinker-SemiBold.ttf) format("truetype");
} */
.bgPost {
  height: 350px;
  width: 100%;
  background-size: cover;
}

.bgPost textarea {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  height: 100%;
}
.postError {
  animation: postErrorAnim 0.4s ease-in-out forwards;
}
@keyframes postErrorAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
